/* Lato font's 300 / 700
* --------------------------------------- */

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* Custom CSS
* --------------------------------------- */
body {
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1 {
	font-size: 5em;
	color: #fff;
	margin:0;
}
p {
	font-size: 2em;
}
.intro p {
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
	color: #fff;
}
.section {
	text-align:center;
}

h1,p{text-align:center}.modal-header h2,h1,li{font-weight:700}*{box-sizing:border-box}article,body,html{height:100%}body{font-family:Lato;line-height:1.5}h1{opacity:.8;font-size:36px;margin:0 0 10px}p{margin:15px auto 0;color:#1a1a1a;font-size:18px;max-width:50%}a{color:#121212;font-size:20.2px}footer{min-height:30%;background-color:rgb(0 457.718 440.164)}.panel{width:100%;min-height:250px}.panel-red{background-color:#e68568}.panel-blue{background-color:#5fc7ea}.panel-green{background-color:#68e6ac}.panel-yellow{background-color:#e6d068}ul{padding-left:25px;list-style:disc}.btn-close{color:#aaa;font-size:30px;text-decoration:none;position:absolute;right:5px;top:0}.btn-close:hover{color:#919191}.modal:before{content:"";display:none;background:rgba(0,0,0,.6);position:fixed;top:0;left:0;right:0;bottom:0;z-index:10}.modal:target:before{display:block}.modal:target .modal-dialog{-webkit-transform:translate(0,0);transform:translate(0,0);top:2.5%}.modal-dialog{background:#fefefe;border:1px solid #333;border-radius:5px;margin-left:-40%;position:absolute;left:50%;top:-100%;z-index:11;width:80%;-webkit-transform:translate(0,-500%);transform:translate(0,-500%);transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out}.modal-body{padding:20px}.modal-text{max-width:98%;text-align:justify}.modal-sub-title{font-weight:700;margin-left:10px;margin-top:10px}.modal-footer,.modal-header{padding:10px 20px}.modal-header{border-bottom:#eee solid 1px}.modal-header h2{font-size:20px}.modal-footer{border-top:#eee solid 1px;text-align:right}